<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>ZipDeploy</WebPublishMethod>
		<IsLinux>true</IsLinux>
		<ResourceId>/subscriptions/5229e956-c3f1-42d5-9c33-33a9991eb6ca/resourceGroups/ToDoListDavid/providers/Microsoft.Web/sites/todoappdp</ResourceId>
		<ResourceGroup>ToDoListDavid</ResourceGroup>
		<LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
		<SiteUrlToLaunchAfterPublish>http://todoappdp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<PublishProvider>AzureWebSite</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<ProjectGuid>10c9ed29-eb5c-4700-915f-048eaae7e9f6</ProjectGuid>
		<PublishUrl>https://todoappdp.scm.azurewebsites.net/</PublishUrl>
		<UserName>$todoappdp</UserName>
		<_SavePWD>True</_SavePWD>
		<DisableImplicitNamespaceImports>true</DisableImplicitNamespaceImports>
	</PropertyGroup>
</Project>